.header {

    .header-upload,
    .header-upload {
        font-size: 15px;
        padding-right: 30px; 
        padding-top: 10px; 
        font-weight: lighter;
        text-decoration: none;
        color: black;
         

    }
    .links {
        display: flex; 
        margin-bottom: 20px;
        justify-content: center;
    }
    .header-image {
        height: 30px;
        padding: 10px;

    }

    img {
        padding-right: 20px;
    }
} 